/* SCSS Compiled */
/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, textarea, select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

input::-webkit-input-placeholder {
  color: #000;
}

input:focus::-webkit-input-placeholder {
  color: #000;
}

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
/*usage  @include font-size(13);*/
/* Brand Colors ------------------------------------------------*/
header {
  background-color: #f9f7f7;
}

.layout {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.logo__link {
  display: inline-block;
  background: url("../images/logo/Vector_Smart_Object.svg");
  background-repeat: no-repeat;
  background-position: 0px 26px;
  width: 199px;
  height: 100px;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.menu__link {
  padding: 18px 25px 20px 25px;
  font-family: Roboto;
  color: #666;
  font-size: calc(13px + (16 - 13) * (100vw/1200));
}
.menu__drop-down {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  transform: rotate(45deg);
  margin-bottom: 4px;
  margin-left: 6px;
}
.menu__link:last-child {
  margin: 0 0 0 25px;
}
.menu__link:hover {
  border: 1px solid #999;
  border-radius: 10px;
  color: #3f72af;
}

.compare {
  display: flex;
}
.compare__count {
  padding: 3.375rem 5.8125rem 5.5625rem 5.8125rem;
  width: 43.3594%;
}
.compare__title {
  font-family: "Playfair Display";
  font-size: calc(24px + (50 - 24) * (100vw / 1200));
  color: #1a1a1a;
  line-height: 1.44;
}
.compare__text {
  color: #1a1a1a;
  font-family: Roboto;
  font-size: calc(15px + (21 - 15) * (100vw / 1200));
  line-height: 3.4286;
}
.compare__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.compare__button {
  box-sizing: border-box;
  width: 45.9459%;
  height: 3.125rem;
  border-radius: 1.25rem;
  border: 1px solid #3f72af;
  background-color: #3f72af;
  font-family: Roboto;
  color: #fff;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
}
.compare__picture {
  background-color: #dbe2ef;
  position: relative;
  width: 56.6406%;
}
.compare .tel {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 3.125rem;
  padding-left: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid #dbe2ef;
  background-color: #dbe2ef;
  font-family: Roboto;
  margin-bottom: 1.875rem;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
}
.compare .tel::placeholder {
  color: #666666;
}
.compare .day-rate {
  box-sizing: border-box;
  width: 45.9459%;
  height: 3.125rem;
  padding-left: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid #dbe2ef;
  background-color: #dbe2ef;
  font-family: Roboto;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
}
.compare .day-rate::placeholder {
  color: #666666;
}
.compare .compare__img {
  width: 71.7241%;
  height: 69.5161%;
  position: absolute;
  bottom: -25px;
  left: 14.19%;
}
.compare .compare__form {
  width: 100%;
  padding-top: 3.4375rem;
}

.features {
  text-align: center;
  margin-top: 6.4375rem;
}
.features__title {
  position: relative;
}
.features__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.25rem;
  padding: 2.4375rem 3.9375rem 1.75rem 4.1875rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title::after {
  content: "";
  position: absolute;
  width: 40px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #3f72af;
  margin: 0px 0px 0px -20px;
}

.title {
  color: #112d4e;
  font-family: "Playfair Display";
  font-size: calc(19px + (36 - 19) * (100vw / 1200));
  margin: 0 0 1.0625rem 0;
  padding: 0 0 1rem 0;
}

.subtitle {
  color: #4d4d4d;
  font-family: Roboto;
  font-size: calc(12px + (14 - 12) * (100vw / 1200));
  text-transform: uppercase;
  margin-bottom: 3.8125rem;
}

.feature__image {
  margin-bottom: 1.8125rem;
  height: 4.5rem;
}
.feature__item-title {
  color: #1a1a1a;
  font-family: "Playfair Display";
  font-size: calc(17px + (28 - 17) * (100vw / 1200));
  margin-bottom: 1.5625rem;
}
.feature__text {
  max-width: 16.875rem;
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  line-height: 1.6;
}

.how-it-works {
  text-align: center;
  background-color: #f9f7f7;
  padding-top: 4.3125rem;
  padding-bottom: 4.125rem;
}
.how-it-works__title {
  position: relative;
}
.how-it-works__row {
  display: flex;
  justify-content: space-between;
}
.how-it-works__column {
  text-align: start;
  padding-right: 4rem;
  width: 33.333%;
}
.how-it-works__item-title {
  color: #4d4d4d;
  font-family: "Playfair Display - Semi Bold";
  font-size: calc(18px + (30 - 18) * (100vw / 1200));
  margin-bottom: 1.875rem;
}
.how-it-works__text {
  color: #333333;
  font-family: Roboto;
  font-size: calc(14px + (18 - 14) * (100vw / 1200));
  line-height: 1.5556;
}

.call-to-action {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.call-to-action__row {
  display: flex;
  justify-content: center;
}
.call-to-action__column {
  max-width: 64.6154%;
  text-align: center;
  background-color: #3f72af;
  box-shadow: 0 0 30px rgba(63, 114, 175, 0.5);
  background-image: url("../images/call/Vector_Smart_Object.png"), url("../images/call/Vector_Smart_Object2.png");
  background-position: 0 0, bottom right;
  background-repeat: no-repeat, no-repeat;
  padding: 4.375rem 7rem;
}
.call-to-action__item-title {
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(22px + (48 - 22) * (100vw / 1200));
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.call-to-action__text {
  opacity: 0.9;
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(14px + (18 - 14) * (100vw / 1200));
  line-height: 1.7222;
  margin-bottom: 2.875rem;
}
.call-to-action__button {
  display: inline-block;
  width: 37.594%;
  height: 19.305%;
  border-radius: 25px;
  background-color: #112d4e;
  text-align: center;
}
.call-to-action__link {
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
  font-weight: 500;
  line-height: 3.125;
}

.compare-plans {
  padding: 4.375rem 0;
  background-color: #3f72af;
  background-image: url("../images/compare/Vector_Smart_Object.png"), url("../images/compare/Vector_Smart_Object2.png");
  background-position: 0 0, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.compare-plans__form {
  display: flex;
  justify-content: center;
}
.compare-plans__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 1.875rem;
  width: 23.0769%;
}
.compare-plans__item:last-child {
  margin-right: 0;
}
.compare-plans__label {
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(14px + (18 - 14) * (100vw / 1200));
}
.compare-plans__button {
  box-sizing: border-box;
  border-radius: 24px;
  border: 1px solid #fff;
  background-color: #3f72af;
  line-height: 2.875;
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
  font-weight: 500;
  padding: 0;
}

.number {
  border: 1px solid #3f72af;
  box-sizing: border-box;
  font-size: 1em;
  border-radius: 24px;
  line-height: 2.875;
  font-weight: 500;
}

.payroll {
  border: 1px solid #3f72af;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 1em;
  line-height: 2.875;
  font-weight: 500;
}

.price {
  text-align: center;
  padding: 6.25rem 0;
}
.price__title {
  position: relative;
}
.price__subtitle {
  margin-bottom: 4.4375rem;
}
.price__row {
  display: flex;
  justify-content: center;
}
.price__column {
  margin-right: 1.875rem;
  width: 31.6239%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-top: 1.875rem;
}
.price__column::last-child {
  margin-right: 0;
}
.price__name {
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(17px + (28 - 17) * (100vw / 1200));
  font-weight: 500;
  line-height: 2.1429;
  background-color: #3f72af;
}
.price__item-price {
  position: relative;
  padding: 2.8125rem 0;
  color: #3f72af;
  font-family: Roboto;
  font-size: calc(20px + (42 - 20) * (100vw / 1200));
  font-weight: 700;
  margin-bottom: 3.125rem;
}
.price__item-price::after {
  content: "";
  position: absolute;
  width: 83.7838%;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #3f72af;
  margin: 0px 0px 0px -41.8919%;
}
.price__option {
  color: #333333;
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  font-weight: 400;
  margin-bottom: 1.5625rem;
}
.price__option::last-child {
  margin-bottom: 4.875rem;
}
.price__button {
  position: relative;
  bottom: -5%;
  margin: 0 auto;
  width: 54.0541%;
  border-radius: 25px;
  background-color: #3f72af;
  border: 1px solid #3f72af;
}
.price__button-even {
  position: relative;
  bottom: -5%;
  margin: 0 auto;
  width: 54.0541%;
  border-radius: 25px;
  background-color: #112d4e;
  border: 1px solid #112d4e;
}

.price__name__even {
  color: #ffffff;
  font-family: Roboto;
  font-size: calc(17px + (28 - 17) * (100vw / 1200));
  font-weight: 500;
  line-height: 2.1429;
  background-color: #112d4e;
}

.price-button__link {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  line-height: 3.125;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
}

.partners {
  text-align: center;
  padding: 6.25rem 0 4.375rem 0;
  background-color: #f9f7f7;
}
.partners__title {
  position: relative;
}
.partners__subtitle {
  margin-bottom: 4.4375rem;
}
.partners__row {
  display: flex;
  justify-content: space-evenly;
}
.review {
  text-align: center;
  padding: 6.25rem 0;
}
.review__title {
  position: relative;
}
.review__subtitle {
  margin-bottom: 4.4375rem;
}
.review__row {
  display: flex;
  justify-content: center;
}
.review__column {
  margin-right: 1.875rem;
  padding: 2.5rem 2.5625rem;
  width: 40.1709%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.review__text {
  color: #333333;
  font-family: Roboto;
  font-size: calc(14px + (18 - 14) * (100vw / 1200));
  font-weight: 500;
  line-height: 1.444;
  margin-bottom: 1.6825rem;
}
.review__author {
  color: #333333;
  font-family: Roboto;
  font-size: calc(13px + (16 - 13) * (100vw / 1200));
  font-weight: 400;
  line-height: 1.5;
}

.faq {
  text-align: center;
  padding: 4.5625rem 0 4.375rem 0;
  background-color: #f9f7f7;
}
.faq__title {
  position: relative;
}
.faq__subtitle {
  margin-bottom: 4.4375rem;
}
.faq__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.faq__column {
  max-width: 568px;
  margin-bottom: 3rem;
}
.faq__name {
  color: #1a1a1a;
  font-family: Roboto;
  font-size: calc(15px + (20 - 15) * (100vw / 1200));
  margin-bottom: 1rem;
  text-align: left;
}
.faq__text {
  color: #333333;
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  line-height: 1.6;
  text-align: left;
}

.faq__button {
  box-sizing: border-box;
  width: 17.094%;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #3f72af;
}

.faq-button__link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 500;
  line-height: 3.125;
}

.map {
  background-image: url("../images/map/Layer_1.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.5rem 0 4.5rem 19.92%;
}
.map__card {
  display: inline-block;
  padding: 3.75rem 5.375rem 3.75rem 1.9375rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
}
.map__title {
  color: #1a1a1a;
  font-family: Roboto;
  font-size: calc(16px + (26 - 16) * (100vw / 1200));
  margin-bottom: 3.125rem;
}
.map__item {
  color: #333333;
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  margin-bottom: 1.875rem;
}
.map__item:last-child {
  margin-bottom: 0;
}
.map__name {
  font-weight: 500;
  margin-bottom: 0.6875rem;
}
.map__content {
  font-weight: 400;
}

@media (max-width: 1020px) {
  .compare__picture {
    display: none;
  }

  .compare__count {
    width: 100%;
  }
}
footer {
  background-color: #112d4e;
  color: white;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 3.125rem;
  padding-bottom: 2.875rem;
}
.description {
  flex: 0 0 22.94rem;
}

.footer-logo__link {
  display: inline-block;
  background: url("../images/logo/Vector_Smart_Object_copy.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 199px;
  height: 80px;
  padding-bottom: 1.8125rem;
}

.item__text {
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  line-height: 1.4667em;
}
.item__title {
  font-family: Roboto;
  font-size: calc(14px + (18 - 14) * (100vw / 1200));
  font-weight: 500;
  padding-bottom: 1.5625rem;
}
.documents {
  flex: 0 0 9.125rem;
}

.menu__item {
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  padding-bottom: 1.25rem;
}

.footer-menu__link {
  color: #ffffff;
  line-height: 1.4667em;
}

.menu-footer {
  flex: 0 0 4.69rem;
}

.about-company {
  flex: 0 0 10.94rem;
}

.follows {
  flex: 0 0 4.94rem;
  text-align: center;
}

.social {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  border: 2px solid #ffffff;
  border-radius: 50%;
  line-height: 30px;
  margin-right: 0.875rem;
}

.social:last-child {
  margin-right: 0;
}

.footer-rights {
  display: block;
  text-align: center;
}
.footer-rights__text {
  font-family: Roboto;
  font-size: calc(12px + (15 - 12) * (100vw / 1200));
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.footer-rights:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: #ffffff;
  opacity: 0.3;
}